<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_schema?serverTimezone=Europe/Warsaw</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="use.sql_comments">true</property>
        <mapping class="kb.examples.entities.Dog"/>
        <mapping class="kb.examples.entities.Employee"/>
        <mapping class="kb.examples.entities.Wife"/>
        <mapping class="kb.examples.entities.Husband"/>
        <mapping class="kb.examples.entities.Book"/>
        <mapping class="kb.examples.entities.Client"/>
        <mapping class="kb.examples.entities.School"/>
        <mapping class="kb.examples.entities.Student"/>
    </session-factory>
</hibernate-configuration>